*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
  
    
    
}
.search{
    padding-top: .5rem;
    width: 100%;
    margin: 0 0 .5rem 54%;
  
}
.search input{
    width: 310px;
}
.search input, .search button{
    font-size: 1rem;
    
    padding: 0.2rem;
    border: none;
    background-color: #fff;  
}
.search button{
    margin-left: -2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 2px;
}
.search button:hover{
    background:  #ace7ef;
    color: white;
}
.nav-container{
    /*ackground-color: #1c38301c;*/
    background-color: red;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    padding: .2rem;
    height: 40px;
    align-items: center;
 
}
.navs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  
}
.nav-link{
    position: relative;
    
 
}
.nav-container.sticky{
    background-color: #000  ;
    z-index: 1000;
    margin-top: -2.5em;
}


.logo a{
  
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1px;
    
}
span{
    color: yellow;
}

.nav-link ul{
    list-style: none;
    display: flex;
    align-items: center;
    
}
.nav-link ul li{
   position: relative;
   display: inline-block;
   list-style: none;
   
}
.nav-link ul li a{
    margin-right: 50px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
}
.props{
    position: relative;
    width: 80%;

    margin: 6em auto 1em auto;
    display: flex;
    justify-content: space-between;
   
}
/*.image1{
    width: 30%;
    height: 45vh;
    align-items: center;
    display: flex;
    background-image: url("images/cp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 6em 10em 0 0;
}*/
.conts{
    margin: 3em auto 10em auto;
    width: 60%;
    text-align: center;
}
.conts h2{
    line-height: 1.5;
    font-size: 2.8rem;
    letter-spacing: 2px;
    font-weight: 800;
}
.conts p{
    font-size: 1.2em;
    font-weight: 600;
}
.btn1{
    padding: .3rem .5rem .3rem .5rem;
    background-color: #bcbcc0;
    font-size: 1rem;
    color: #fff;
    margin-top: 1rem;
    font-weight: 700;
    border-radius: 15px 60px;
}

.more{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
}

.bottom{
  
    padding: 3rem 0;
    background-color: #fff;
}
.header{

    font-size: 1.8rem;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1rem;
}
/*.fade{
    opacity: 0;
    transition: opacity 250ms ease-in;
}
.fade.appear{
    opacity: 1;
}*/
.headp{
    text-align: center;
    margin: 1em auto;
    max-width: 60%;
    line-height: 1.5em;
    font-size: 1.2rem;
    font-weight: 500;
}
.seem{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
    margin-left: 84%;
}

.wrap-card{
    margin: 0 auto;
    width: 80%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}
.card{
    width: 12em;
    background-color: #b7b8b912;
    box-sizing: border-box;
    border: 1px solid #fff;
    margin: .5rem;
    flex-wrap: wrap;   
    height: 18rem;
}

.fades{
    
    transition: trasform 400ms ease-in;
   
        
}
.fades.appear{
   
   opacity: 1;
}
.card .background{
    width: 100%;
    height: 14rem;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    clip-path: polygon(0 0, 100% 70%, 10% 0%);
}   
.profile{
    width: 12rem;
    height: 12rem;
    z-index: 2;
    border-radius: 50%;
    border: 1rem solid #ebeef8;
    margin-bottom: 2em;
    object-fit: cover;
    margin-left: 15%;
    margin-top: -13rem;
}
.name{
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #6367692e;
    padding: .4rem .2rem;
    margin: 9em 0 1em 0;
    
}

.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem ;
   
}
.contact a:nth-child(2){
    padding: .3rem .3rem;
    font-weight: 600;
    background-color: #1e21232e;
    border-radius: 10px;
    text-decoration: none;
}
.contact a:nth-child(1){
    padding: .2rem .2rem;
    font-weight: 900;
    font-size: 1.8rem;
    text-decoration: none;
}

.contact a:nth-child(2):hover{
    transform: scale(1.05);
    transition: .5s;
    background-color:  #1e21232e;
    color: black;
}

.popular{
    width: 100%;
 
    background-color: #fff;
    padding: 1em 0;
}
.popular h1{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.popular .container01{
    display: flex;
    width: 80%;
    margin: 2em auto;
    flex-wrap: wrap;
}
.popular .container01 .container01-wrap{
    display: block;
    width: 8rem;  
    margin: 1rem;
    margin: 0 auto;
    
    
}
.popular .container01 .container01-wrap .container01-card{
    width: 8rem;
    background-color: #b7b8b912;
    box-sizing: border-box;
    height: 8rem;;
}
.popular .container01 .container01-wrap .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(223, 219, 219);
    height: 4em;
    padding: 1rem;
}
.popular .container01 .container01-wrap .price a:nth-child(1){
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
  
}
.popular .container01 .container01-wrap .price a:nth-child(2){
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}


.section4{
    width: 100%;
    
   
}
.newBlog{
    padding-top: 5em;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
.news{
    background-color: rgb(223, 219, 219);
    height: 15em;
    width: 30%;
}
.blog{
    background-color: rgb(94, 77, 77);
    height: 15em;
    width: 30%;
}

.footer{
    margin-top: 10em;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 10em;
    background-color: #000;
}
.checkbtn{
    font-weight: 30px;
    color: #000;
    float: right;
    line-height: 30px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    
}
.checkcart{
    font-weight: 30px;
    color: #000;
    float: right;
    line-height: 30px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
    
}

#check{
    display: none;
}
#checks{
    display: none;
}

/*
@media (max-width: 858px){
    .logo {
        margin-left: 0;
    }
   
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: firebrick;
        top: 60px;
        text-align: center;
        transition: all .5s;
        left: -100%;
    }
    ul li{
        display: block;
        margin: 2em;
    }
    ul li a{
        font-size: 1.2rem;
    }
    a.hover,a.active{
        background: none;
        color: #fff;
    }

    #check:checked ~ ul{
        left: 0;
    }
}
*/

@media  (max-width: 1024px)
  {
    #check{
    display: none;
}

    .container{
        width: 100%;
 
       
    }
    .more{
        display: none;
    }
    
    .search{
        padding: .5rem 0 .5rem 25%;
        width: 80%;
        margin: 0 auto;
       
    }
    .nav-container{
      
        width: 100%;
        margin: 0 auto;
        position: fixed;
    }
    .navs{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        margin: 0 auto;
        height: 30px;
    }
    .logo a{
  
       
        text-decoration: none;
        font-weight: 700;
        font-size: 1.5rem;
        letter-spacing: 1px;
        
    }
    .nav-link ul li a{
        margin-right: 20px;
        text-decoration: none;
        
        font-weight: 600;
        font-size: 1.5rem;
    }

    .props{
 
        margin: 1em auto 2em auto;
        
    }
    /*.image1{
        width: 30%;
        height: 45vh;
        align-items: center;
        display: flex;
        background-image: url("images/cp.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 6em 10em 0 0;
    }*/
    .conts{
        margin: 5em auto 0 auto;
        text-align: center;
    }
    .conts h2{
        line-height: 2em;
        font-size: 2.8em;
        letter-spacing: 2px;
        font-weight: 800;
    }
    .conts p{
        font-size: 1.2em;
        font-weight: 600;
    }
    .btn1{
        padding: .3rem .5rem .3rem .5rem;
        background-color: #a6acec;
        font-size: 1.2rem;
        margin-top: 1em;
        font-weight: 700;
        border-radius: 15px 60px;
    }
  
    .seem{
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 600;
        color: #000;
        margin-left: 85%;
    }
    .wrap-card{
        margin: 0 auto;
        width: 90%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
    }
    .bottom{
      
        padding: 1rem 0;
   
        
    }
    .sale{
        margin: 0 auto;
        display: flex;
        width: 90%;
        justify-content: space-around;
    }
    .blog{
        background-color: rgb(94, 77, 77);
   
        width: 40%;
    }
    .section4{
        width: 100%;
       
        background-color:#e8ffe8;    
    }
    .newBlog{
        padding-top: 5em;
 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .news{
        background-color: #fff;
   
        width: 40%;
    }

    .popular{
        width: 80%;

        background-color: #fff;
        padding: 1em 0;
        margin: 0 auto;
    }
    
.popular .container01{
 
    width: 98%;
    margin: 2em auto;
}
.popular .container01 .container01-wrap{
    display: block;
    margin-bottom: 1rem;
    width: 11rem;  
    
}
.popular .container01 .container01-wrap .container01-card{
    width: 11rem;
    background-color: #b7b8b912;
    box-sizing: border-box;
    height: 10rem;;
   
}



@media (max-width: 900px)
    {
    #check{
    display: none;
}

    .props{
        position: relative;
        width: 80%;
       
        margin: 2em auto 2em auto;
        display: flex;
    
        
    }
    /*.image1{
        width: 30%;
        height: 30vh;
        align-items: center;
        display: flex;
        background-image: url("images/cp.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 6em 10em 0 0;
    }*/
    .conts{
        margin: 5em auto 0 auto;
        width: 60%;
    }
    .conts h2{
        line-height: 2em;
        font-size: 2.5rem;
        letter-spacing: 2px;
        font-weight: 800;
    }
    .conts p{
        font-size: 1.5em;
        font-weight: 400;
    }
    .bottom{
      
        padding: 3rem 0;
      
    }

    .wrap-card{
        margin: 0 auto;
        width: 90%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
    }
 
    .card{
        width: 12rem;
       
        box-sizing: border-box;
        background-color: #b7b8b912;
        margin: .5rem;
        flex-wrap: wrap;   
        height: 20rem;
    }
    
    
    .name{
        font-weight: bold;
        font-size: 1rem;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        background-color: #1e21232e;
        padding: 1rem .5rem;
        margin: 12em 0 2em 0;
        
    }
    .card .background{
        width: 100%;
        height: 12rem;

        -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
        clip-path: polygon(0 0, 100% 70%, 10% 0%);
    }   
    
    .sec3con1{
        margin-top: 3em;
        width: 40%;
      
        background-color: powderblue;
        box-shadow:.5rem .5rem 3rem rgba(0,0,0,0.6);
        z-index: 1;
       
    }
    .section3{
   
    }
    .sec3con2{
        margin-top: 25em;
        width: 40%;
     
        background-color: #fff;
        box-shadow:  .5rem .5rem 3rem rgba(0,0,0,0.6);
        z-index: 1;
    }
    .sale{
        margin: 0 auto;
        display: flex;
        width: 95%;
    
        justify-content: space-around;
    }
    .popular{
        width: 100%;
       
        background-color: #fff;
        padding: 1em 0;
    }
    
    .popular .container01{
    
        width: 98%;
        margin: 2em auto;
    }
    .popular .container01 .container01-wrap{
        display: block;
        margin-bottom: 1rem;
        width: 11rem;  
        
    }
    .popular .container01 .container01-wrap .container01-card{
        width: 11rem;
        background-color: #b7b8b912;
        box-sizing: border-box;
        height: 10rem;;
    
    }
}   


@media  (max-width: 640px)
{
        .checkcart{
            display: block;
            margin-right: 80px;
            margin-top: .2rem;
            
        }
        
    .checkbtn{
        display: block;
        margin-right: 20px;
        margin-top: -2rem;
    }
    .logo{
        
        margin-top: .5rem;
      
    }
    .search{
        padding-top: 0rem;
        width: 100%;
        margin: 0 auto;
        

    }
    .search input{
        width: 320px;
    }
    .search input, .search button{
        font-size: 1.2rem;
        margin-left: 1em;
        padding: 0.2rem;
        border: none;
        background-color: #fff;  
    }
    .search button{
        margin-left: -2rem;
        cursor: pointer;
        transition: all 0.3s ease;
        border-radius: 2px;
    }
    .nav-container{
        width: 100%;
        z-index: 1000;
        width: 100%;
        margin: 0 auto;
        position: fixed;
        padding: .2rem;
        height: 40px;
        align-items: center;
    }
    
    .navs{
        display: block;
        width: 100%;
    }
    .nav-link ul{
        width: 100%;
        margin-left: -100%;
        background-color: #fff;
    }
    #check:checked ~ ul{
        left: 0;
    }
    
   
    .nav-link ul li{
        display: block;
        margin-top: 0;
        text-align: center;
    }
 
  .nav-container.sticky{
        background-color: #000;
        z-index: 1000;
        margin-top: -2rem;
    }
  
    span{
        color: yellow;
    }
    .navs i{
        margin-top: 1.5rem;
        color: #fff;
    }
    .nav-link ul{
        margin-top: 1rem;
        list-style: none;
        line-height: 80px;
        z-index: 1000;
    }
    .nav-link ul li{
       position: relative;
       display: block;
       list-style: none;
    }
    .nav-link ul li a{
        display: block;
        text-decoration: none;
        color: #000;
        font-weight: 600;
        font-size: 1.2rem;
        margin: 0 auto;
    }
   .nav-container{
        height: 60px;
        margin: 1rem auto;
    }
    .logo a{
        margin-left: 20px;
        font-size: 1.8rem;
        font-weight: 800;
    }

    .props{
    
        width: 100%;
       
        margin: auto;
        display: block;
        justify-content: center;
        box-shadow: none;
        text-align: center;
    }
    .image1{
        width: 30%;
        height: 30vh;
        align-items: center;
        display: flex;
        background-image: url("images/cp.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 6em 10em 0 0;
    }
    .conts{
        margin: 5em 0 0 0;
        padding-top: 5em;
        width: 100%;
       
        
    }
    .conts h2{
        line-height: 2em;
        font-size: 2rem;
        letter-spacing: 2px;
        font-weight: 800;
        z-index: -1000;
    }
    .conts p{
        font-size: 1.2rem;
        font-weight: 600;
    }
    .btn1{
        padding: .2rem .3rem .2rem .3rem;
        background-color: #a6acec;
        font-size: 1.2rem;
        margin-top: 1em;
        font-weight: 700;
        border-radius: 15px 60px;
    }
    .bottom{
        
        padding: 2rem 0;
     
    }
    .header{
        font-size: 2.5rem;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 2px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 3rem;
    }
    
    .headp{
        text-align: center;
        margin: 1em auto;
        max-width: 90%;
        line-height: 1.5em;
        font-size: 1.2rem;
        font-weight: 600;
    }
    .seem{
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 600;
        color: #000;
        margin-left: 75%;
    }
    
   
  
   
  
 
    


    .wrap-card{
        margin: 0 auto;
        width: 98%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
    }
    
 
    .card{
        width: 11rem;
        background-color: #b7b8b912;
        box-sizing: border-box;
        border: 1px solid #fff;
        margin: 1rem .2rem 1em .2rem;
        flex-wrap: wrap;   
        height: 16rem;
    }


 
    /*.profile{
        width: 10rem;
        height: 10rem;
        z-index: 2;
        border-radius: 50%;
        border: 1rem solid #ebeef8;
        margin-bottom: 2rem;
        object-fit: cover;
        margin-left: 8%;
    }*/
  
      
  
    .name{
        font-weight: bold;
        font-size: 1rem;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        background-color: #1e21232e;
        padding: 1rem .5rem;
        margin: 9rem 0 1rem 0;
        
    }

    /*.card .background{
        width: 100%;
        height: 12rem;

        -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
        clip-path: polygon(0 0, 100% 70%, 10% 0%);
    }   */

    .contact{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem ;
       
    }
    
 
    .contact a:nth-child(2){
        padding: .2rem .2rem;
        font-weight: 500;
        background-color: #1e21232e;
        border-radius: 10px;
        text-decoration: none;
    }
  
    .contact a:nth-child(1){
        padding: .2rem .2rem;
        font-weight: 900;
        font-size: 1.8rem;
        text-decoration: none;
    }
    
  


    

    
    .sec3con1{
       
        margin: 2em auto;
        width: 90%;
       
        background-color: powderblue;
        box-shadow:.5rem .5rem 3rem rgba(0,0,0,0.6);
        z-index: 1;
       
    }
   
    .sec3con2{
       margin: 2em auto;
        width: 90%;
      
        background-color: #fff;
        box-shadow:  .5rem .5rem 3rem rgba(0,0,0,0.6);
        z-index: 1;
    }

    .popular{
        width: 100%;
       
        background-color: #fff;
        padding: 10em 0;
    }
    .popular h1{
        font-size: 1.8rem;
    }
.popular .container01{
 
    width: 98%;
    margin: 2em auto;
}
.popular .container01 .container01-wrap{
    display: block;
    margin-bottom: 1rem;
    width: 10rem;  
    
}
.popular .container01 .container01-wrap .container01-card{
    width: 10rem;
    background-color: #b7b8b912;
    box-sizing: border-box;
    height: 10rem;;
   
}
    .section4{
        width: 100%;
      
        background-color:#e8ffe8;    
    }
    .newBlog{
        padding-top: 2em;
        height: 75vh;
        
        display: block;
        justify-content: center;
        align-items: center;
    }
    .news{
        background-color: #fff;
    
        width: 90%;
        margin: 1rem auto;
    }
    .blog{
        background-color: rgb(94, 77, 77);
      
        width: 90%;
        margin: 1rem auto;
    }
    .footer{
        margin-top: 12em;
        width: 100%;
        align-items: center;
        justify-content: center;
        align-items: center;
      
        background-color: #000;
    }

}

    

/*
@keyframes fadeIn{
    from{
        opacity: 0
    }
    to{
        opacity: 1
    }
}
    .card:nth-child(2){
        animation: fadeIn .5s 1.5s backwards;
    }
    .card:nth-child(1){
        animation: fadeIn .5s 1s backwards;
    }

    .card:nth-child(3){
        animation: fadeIn .5s 2s backwards;
    }

    .card:nth-child(4){
        animation: fadeIn .5s 2.5s backwards;
    }
    .card:nth-child(5){
        animation: fadeIn .5s 3s backwards;
    }
    .card:hover{
        transform: scale(1.05);
    }
}
*/